# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# IMPORTS
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  
importFrom("R.methodsS3", "throw")

importFrom("R.oo", "Package")
importFrom("R.oo", "getPosition")
importFrom("R.oo", "getName")
importFrom("R.oo", "getVersion")
importFrom("R.oo", "getDate")
# To be removed, when R.oo declares S3 methods in namespace
importFrom("R.oo", "getPosition.Package")
importFrom("R.oo", "getName.Package")
importFrom("R.oo", "getVersion.Package")
importFrom("R.oo", "getDate.Package")

import("R.utils")

# Object that must exported explicitly
## export(.conflicts.OK) 


# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# EXPORTS
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
export("devEval")
export("devIsOpen")
export("devList")
export("devGetLabel")
export("devSetLabel")
export("devSet")
export("devOff")
export("devDone")
export("devNew")
export("devOptions")
export("eps")
export("jpeg2")
export("png2")
export("toBMP")
export("toEPS")
export("toPDF")
export("toPNG")
export("toSVG")
export("toTIFF")
