# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# IMPORTS
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
importFrom("R.methodsS3", "throw")

importFrom("R.oo", "Package")
importFrom("R.oo", "getPosition")
importFrom("R.oo", "startupMessage")

import("R.utils")
## Arguments$... methods:
##  getWritablePathname(), getCharacter(), getLogical(), getDouble()
## importFrom("R.utils", "Arguments")


# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# EXPORTS
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
export("devEval")
export("devIsOpen")
export("devList")
export("devGetLabel")
export("devSetLabel")
export("devSet")
export("devOff")
export("devDone")
export("devNew")
export("devOptions")
export("eps")
export("jpeg2")
export("png2")
export("toBMP")
export("toEPS")
export("toEMF")
export("toPDF")
export("toPNG")
export("toSVG")
export("toTIFF")
export("toWMF")
